<nav class="navbar navbar-expand-lg navbar-dark primary-nav" style="background-image: url({{ 'assets/images/small-header.png' | relative_url }}); background-repeat: no-repeat; background-color: #a0ebf0; background-size: cover;">
	<div class="container-xxl">
		<span class="navbar-brand">
			<a href="{{ '/' | relative_url }}" style="float: left;">
				<img src="{{ 'assets/images/cityai-logo.png' | relative_url }}" class="d-inline-block" alt="CityAI" style="margin-right: 1rem;">
			</a>
			<div style="padding-top: 3rem;">
				<h1><a href="{{ '/' | relative_url }}" style="text-decoration: none; color: #ffffff;">CityAI Lab Project Showcase</a></h1>
			</div>
		</span>
	</div>
</nav>