body {
  font-family: Arial,sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab';
}

img {
  max-width: 100%;
}

.primary-nav.navbar {
  background-color: $lab-blue;
  
  margin-bottom: 1rem;
  padding-bottom: 0;
  padding-top: 0;

  img {
    margin-right: 1rem;
  }

  @media (max-width: 385px) {
    .container-xxl {
      padding-left: 0;
      img {
        margin-right: 0.4rem;
      }
    }
  }
}

.primary-nav .navbar-collapse {
  flex-grow: 0;
}

.primary-nav .nav-item {
  background-color: $lab-blue;
  margin-left: 1rem;
  @media (max-width: 991px) {
    margin-left: 0;
  }
}

.primary-nav .nav-link {
  color: #ffffff;
  font-size: 1.4rem;

  @media (max-width: 991px) {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
}

.primary-nav .navbar-toggler {
  background-color: $lab-blue;
}

.navbar-dark {
  background-color: $primary;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
}

.navbar-brand img {
  height: 10rem;
}

@media (max-width: 767px) {
  .navbar-brand img {
    height: 6rem;
  }

  .navbar-brand {
    h1 a {
      font-size: 1.1rem;
    }

    a {
      font-size: 1rem;
    }
  }
}



ul.publications {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 1rem;
  }
}

.publication-title {
  font-size: 1.1rem;
  font-family: 'Roboto Slab';
  a {
    text-decoration: none;
  }
}

.journal-name {
  font-style: italic;
  font-size: 0.9rem;
}


.project-nav {
  li {
    margin-right: 1rem;
  }

  .nav-link {
    background-color: #f0f0f0;
  }
}

.contact-avatar {
  box-shadow: 0px 0px 4px;
  width: 7rem;
  margin: 0.6rem;
}

.contact-card {
  background-color: #f0f0f0;
  --bs-card-border-color: 0;
  --bs-card-border-radius: 0;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: 0;

  .card-text a {
    text-decoration: none;
  }
}

.overlay-darken {
  background-color: #222222;
  opacity: 70%;
}

.project-cards {
  .card {
    --bs-card-inner-border-radius: 0;
  }
}

.team-card {
  --bs-card-border-color: 0;
  --bs-card-border-radius: 0;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: 0;

  border-bottom: 0.15rem solid #6ebbd5;

  .card-title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 1rem;
    height: 3.5rem;
  }
}